@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../public/asset/react-table.css';
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-size:14px;
    font-family: "Pretendard",Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
@font-face {
    font-family: 'Pretendard';
    font-display: fallback;

    src: url('./fonts/Pretendard-Regular.woff') format('woff');
    /* 사용할 폰트의 기본 스타일 */
    font-weight: 400;
    font-style: normal;
}
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #FBFBFB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FBFBFB;
}

*::-webkit-scrollbar-track:active {
  background-color: #FBFBFB;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C4C4C4;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}