:root {
    
    --deeper: #005892;
    --deep: #0477b3;
    --highest: #0488c7;
    --high: #0d9bdb;
    --primary: #13a9e9;
    --secondary: #31b6ec;
    --normal: #53c3ee;
    --lightest: #82d4f3;
    --low: #b3e5f8;
    --lower: #e1f5fc;
    --bgFocus: #f5fbff;
    --bgInfoDefaultOpa: rgba(225, 245, 252, 0.3);
    --bgTemplateList: url('/img/template/bg_list_thumb_blue.png') 50% 100% no-repeat;
    --bgSwitchOn: url('/img/ico/ico_switch_on.png');
    --bgSwitchOnHover: url('/img/ico/ico_switch_on_hover.png');
    --bgSwitchOnFocus: url('/img/ico/ico_switch_on_focus.png');
    --bgRadioChecked:url('/img/ico/ico_radio_on.png') 50% 51% no-repeat;
    --bgTooltip:var(--lower) url('/img/ico/ico_tooltip.png') .5rem 50% no-repeat;

    --font-size-base:14px;
    --font-size-xxs: 0.6875rem;
    --font-size-xs: 0.6875rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 0.8125rem;
    --font-size-lg: 0.875rem;
    --font-size-xl: 0.9375rem;
    --font-size-2xl: 1rem;
    --font-size-3xl: 1.25rem;
    --font-size-4xl: 2rem;

    --line-height-xxs: 1rem;
    --line-height-xs: 0.875rem;
    --line-height-sm: 1.1875rem;
    --line-height-md: 1.25rem;
    --line-height-lg: 1.3125rem;
    --line-height-xl: 1.375rem;
    --line-height-2xl: 1.5rem;
    --line-height-3xl: 1.75rem;
    --line-height-4xl: 2.5rem;
}
