@use '/src/styles/_variables.scss' as *;
@use '/src/styles/mixin.scss' as *;

@mixin section {
    width: 500px;
    padding: 25px 30px;
    position: relative;
    border: 1px solid $border-default;
    border-radius: $corner-xs;
    background-color: $background-white;
    & + .section {
        margin-top: 10px;
    }
}

.createEvaluation {
    // 스텝 + 컨텐츠 영역
    .context {
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;
        background-color: $background-accent-subtler;
    }
    // 왼쪽 스텝 영역
    .stepper {
        width: 210px;
        padding: 30px;
        background-color: $background-white;
        border-right: 1px solid $border-neutral;
        .icoStepReady {
            width: 14px;
            height: 14px;
            border: 4px solid $icon-subtle;
            border-radius: $corner-full;
        }
        .icoStepDone {
            color: var(--primary);
        }
        .icoStepIng {
            width: 14px;
            height: 14px;
            border: 4px solid var(--primary);
            border-radius: $corner-full;
        }
    }
    // 오른쪽 컨텐츠 영역
    .contents {
        width: 100%;
        height: calc(100vh - 50px);
        padding: 30px 40px;
        overflow-y: auto;
    }
    .pageName {
        margin-bottom: 20px;
        .name {
            margin-bottom: 5px;
            font-size: var(--font-size-xl);
            line-height: var(--line-height-xl);
            color: $color-accent;
        }
        .desc {
            font-size: var(--font-size-lg);
            line-height: var(--line-height-lg);
            color: $color-neutral;
        }
    }
    // 평가 이름 정하기
    .evaluationName {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .nameWrap {
            width: 470px;
            height: 274px;
            padding: 60px 80px;
            border: 1px solid var(--primary);
            background-color: $background-white;
        }
        .name {
            margin-bottom: 20px;
            font-size: var(--font-size-xl);
            line-height: var(--line-height-xl);
            color: $color-accent;
        }
        .desc {
            margin-bottom: 20px;
            font-size: var(--font-size-lg);
            line-height: var(--line-height-lg);
            color: $color-neutral;
        }
        // 대상자
    }
    // 대상자, 평가별양식 분리, 소속 별 비율 반영
    .updateRateWhether,
    .evaluationTarget,
    .evalFormSeperator {
        .txtGuide {
            font-size: var(--font-size-lg);
            line-height: var(--line-height-lg);
            color: $color-neutral;
        }
        .selectTarget {
            margin-bottom: 30px;
            .radioBox {
                display: block;
                width: 500px;
                padding: 15px 25px;
                border: 1px solid $border-default;
                border-radius: $corner-xs;
                background-color: $background-white;
                box-shadow: $shadow-layer1;
                cursor: pointer;
                & + .radioBox {
                    margin-top: 10px;
                }
                &.on {
                    border-color: var(--primary);
                    .label strong {
                        color: var(--primary);
                    }
                }
            }
            .wrap {
                display: flex;
                gap: 7px;
            }
            .label {
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-neutral;
                strong {
                    font-weight: 500;
                    font-size: var(--font-size-md);
                    line-height: var(--line-height-md);
                    color: $color-accent;
                }
            }
        }
    }
    // 구성원 찾기
    .findMember {
        display: flex;
        gap: 20px;
        width: 100%;
        .col {
            flex: 1;
        }
        .colWrap {
            height: 409px;
            padding: 15px 20px;
            border: 1px solid $border-neutral;
            border-radius: $corner-xs;
            background-color: $background-info-default;
        }
        .searchBoxWrap {
            flex-direction: column;
        }
        .searchBox {
            background-color: $background-default;
        }
        .selectBasicBox {
            width: 350px;
        }
        .dateGrid {
            width: 100%;
            margin-top: 20px;
            .gridBtns {
                display: flex;
                justify-content: end;
                gap: 5px;
                margin-bottom: 7px;
            }
        }
        .btnSettings {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }
        .btnArea {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            height: 45%;
        }
    }
    // 절차 구성
    .stepFormation {
        .list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .item {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                width: 500px;
                padding: 20px;
                border: 1px solid $border-default;
                border-radius: $corner-xs;
                background-color: $background-white;
                &.on {
                    border-color: var(--primary);
                    box-shadow: $shadow-layer1;
                    svg {
                        fill: var(--primary);
                    }
                    .tit {
                        color: var(--primary);
                    }
                }
            }
            .tit {
                margin-bottom: 2px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-accent;
            }
            .desc {
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-neutral;
            }
            .itemWrap {
                .selectbox {
                    margin-top: 7px;
                }
            }
            .switch {
                margin: 0 0 -20px auto;
                align-self: center;
            }
        }
    }
    // 평가별 설정
    .evalSetting {
        .wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .section {
            width: 523px;
            padding: 25px 30px 35px;
            border: 1px solid $border-default;
            border-radius: $corner-xs;
            background-color: $background-white;
        }
        .title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            color: $color-accent;
            .btnEditTitle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                margin-left: 5px;
                border-radius: $corner-full;
                background-color: $background-subtler;
            }
        }
        .selectEvalSystem {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;
            padding: 20px 30px 30px;
            border: 1px solid $border-default;
            border-radius: $corner-xs;
            background-color: $background-default;
        }
        .subTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .switch {
            margin-bottom: -20px;
        }
        .tbl {
            width: 100%;
        }
        .desc {
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            color: $color-neutral;
        }
    }
    .evlCoworker {
        margin-top: 10px;
        padding: 15px 20px 20px;
        background-color: $background-accent-subtler;
        .radioGroup {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .depthWrap {
            margin-left: 22px;
        }
        .howManyPeople {
            padding: 15px 20px;
            background-color: $background-accent-subtler;
        }
        .countPeople {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 10px;
            .label,
            .unit {
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-neutral;
            }
            .txtfield {
                width: 90px;
            }
        }
    }
    .levelGuide {
        margin-top: 10px;
        padding: 15px 20px 20px;
        background-color: $background-accent-subtler;
        .rdoDesc {
            margin-left: 22px;
            font-size: var(--font-size-xs);
            line-height: var(--line-height-xs);
            color: $color-subtitle;
        }
    }
    // 소속 비율 반영 여부
    .updateRateWhether {
        .addInfo {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 13px 22px 0;
        }
    }

    // 종합 등급 배분
    .totalLevel {
        .section {
            padding: 25px 30px;
            position: relative;
            border: 1px solid $border-default;
            border-radius: $corner-xs;
            background-color: $background-white;
            .title {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;
            }
            .btnArea {
                display: flex;
                gap: 5px;
                position: absolute;
                top: 20px;
                right: 30px;
            }
            .total {
                margin: 10px 0;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-info-enabled;
                text-align: right;
            }
        }
        & + .totalLevel {
            margin-top: 30px;
        }
    }

    // 참고 자료
    .reference {
        .section {
            @include section;
            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 2px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-accent;
            }
            .selectBox {
                width: 230px;
                margin-left: 34px;
            }
        }
    }

    // 이름 표기
    .nameRelease {
        .section {
            @include section;
            &:first-of-type {
                margin-top: 10px;
            }
            .title,
            .userName {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 2px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-accent;
            }
            .userName {
                margin-left: 15px;
            }
            .radioGroup {
                display: flex;
                flex-direction: column;
                gap: 7px;
                margin-left: 24px;
            }
        }
    }

    // 일정
    .schedule {
        .section {
            @include section;
            .desc {
                margin-top: -5px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-neutral;
            }
            .title,
            .userName {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 2px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-accent;
            }
        }
        .datePickerGroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .datePicker {
                margin-left: 34px;
            }
            & + .datePickerGroup {
                margin-top: 30px;
            }
        }
    }
    .warning {
        display: flex;
        gap: 8px;
        margin-bottom: 18px;
        padding: 10px 12px;
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: $color-info-enabled;
        background-color: $background-info-accent;
    }

    // 사전검토
    .prereview {
        .section {
            @include section;
            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: var(--font-size-md);
                line-height: var(--line-height-md);
                color: $color-accent;
            }
            .reviewCont {
                margin-left: 42px;
                .text {
                    display: flex;
                    align-items: center;
                    font-size: var(--font-size-md);
                    line-height: var(--line-height-md);
                    color: $color-neutral;
                    &::before {
                        content: '·';
                        display: inline-block;
                        margin-right: 5px;
                        font-weight: 700;
                        color: $icon-subtle;
                    }
                }
                .emphasis {
                    font-weight: 700;
                    color: $color-accent;
                }
                .perentage {
                    display: block;
                    padding: 2px 10px;
                    font-size: var(--font-size-sm);
                    line-height: var(--line-height-sm);
                    color: $color-neutral;
                    border-radius: $corner-xl;
                    background-color: $background-accent-subtler;
                }
                .detailText {
                    margin-left: 14px;
                    font-size: var(--font-size-md);
                    line-height: var(--line-height-md);
                    color: $color-neutral;
                }
            }
        }
    }

    // 평가자 확정
    .evltrConfirmed {
        .searchCondition {
            display: flex;
            gap: 60px;
            margin-bottom: 25px;
            padding: 25px 100px 25px 30px;
            position: relative;
            border: 1px solid $border-default;
            background-color: $background-white;
            .btnSearch {
                position: absolute;
                right: 30px;
            }
        }
        .tableOptions {
            justify-content: end;
            margin-bottom: 7px;
        }
        .total {
            margin-top: 12px;
            font-size: var(--font-size-sm);
            line-height: var(--line-height-sm);
            color: $color-accent;
            text-align: right;
        }
    }
}
