:root {
    --deeper: #065a37;
    --deep: #097a4c;
    --highest: #0d8b58;
    --high: #159d65;
    --primary: #1cac70;
    --secondary: #4ab885;
    --normal: #6dc59a;
    --lightest: #98d4b6;
    --low: #c0e5d2;
    --lower: #e5f5ed;
    --bgFocus: #e4faf099;
    --bgTemplateList: url('../../../../public/img/template/bg_list_thumb_green.png');
}
