:root {
    --deeper: #005892;
    --deep: #0477b3;
    --highest: #0488c7;
    --high: #0d9bdb;
    --primary: #13a9e9;
    --secondary: #31b6ec;
    --normal: #53c3ee;
    --lightest: #82d4f3;
    --low: #b3e5f8;
    --lower: #e1f5fc;
    --bgFocus: #f5fbff;
    --bgInfoDefaultOpa: rgba(225, 245, 252, 0.3);
}
