@use '/src/styles/_variables.scss' as *;

.dragNdropFile {
    position: relative;
    .fileDrop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 20px;
        border: 1px dashed $border-bold;
        border-radius: 2px;
        background-color: $background-default;
    }
    .guideText {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        color: $color-subtitle;
        text-align: center;
    }
    .desc {
        margin: 30px 0 10px;
        .title {
            margin-bottom: 6px;
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            font-weight: 600;
            color: $color-accent;
        }
        .text {
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            color: $color-default;
            .emphasis {
                color: $color-accent;
                text-decoration: underline;
            }
        }
    }
    .errorMsg {
        padding: 6px 0 13px 19px;
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: $color-info-enabled;
        background: url('../../../public/img/ico/ico_error.png') 0 35% no-repeat;
    }
    .fileList {
        .fileInfo {
            display: flex;
            align-items: center;
        }
        margin-bottom: 31px;
        .list {
            height: 130px;
            padding: 10px 15px;
            border: 1px solid $border-default;
            background-color: $background-default;
            overflow-y: auto;
        }
        .item {
            display: flex;
            justify-content: space-between;
            font-size: var(--font-size-sm);
            line-height: var(--line-height-sm);
            color: $color-accent;
            &.item {
                margin-top: 5px;
                .btnDelete {
                    margin-left: auto;
                }
            }
            &:hover {
                color: var(--primary);
                svg {
                    path {
                        fill: var(--primary);
                    }
                }
            }
        }
        .title {
            margin-bottom: 6px;
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            font-weight: 600;
            color: $color-accent;
        }
    }
    .preview {
        display: flex;
        justify-content: center;
        gap: 4px;
        padding: 20px;
        border-radius: 2px;
        border: 1px solid $border-disabled;
        background-color: $background-disabled;
        .beforeText {
            font-size: var(--font-size-sm);
            line-height: var(--line-height-sm);
            color: $color-subtitle;
            text-align: center;
        }
        &.on {
            background-color: $background-white;
        }
    }
    .fileSize {
        display: flex;
        justify-content: end;
        margin-top: 10px;
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        color: $color-neutral;
    }
}
