@use '/src/styles/_variables.scss' as *;

.dialog {
    .tit {
        padding: 12px 20px;
        font-weight: 600;
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: $color-accent;
        border-bottom: 1px solid $border-default;
    }
    .cont {
        width: 400px;
        padding: 20px 24px 25px;
        position: relative;
        .msg {
            font-size: var(--font-size-lg);
            line-height: var(--line-height-lg);
            color: $color-accent;
            text-align: center;
        }
        .emphasis {
            font-size: var(--font-size-2xl);
            color: $color-accent;
            text-align: center;
        }
        .headIco {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            margin: 0 auto 10px;
            border-radius: $corner-full;
            background-color: $background-info-default;
        }
        &.xs {
            width: 380px;
        }
        &.md {
            width: 480px;
        }
        &.lg {
            width: 600px;
        }
        &.xl {
            width: 794px;
        }
        &.xxl {
            width: 1100px;
        }
        &.full {
            width: 100%;
            padding: 0;
        }
    }
    .modalConText {
        height: calc(100vh - 100px);
    }
    .actions {
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 100%;
        padding: 25px 0 0;
        &.alignLeft {
            justify-content: left;
        }
        &.alignRight {
            justify-content: right;
        }
        &.borderStyle {
            width: calc(100% + 40px);
            margin: 0 -24px;
            padding: 15px 0 0;
            border-top: 1px solid $border-default;
        }
    }
    .btnClose {
        position: absolute;
        top: 12px;
        right: 20px;
        z-index: 9;
    }
    .MuiPaper-elevation {
        max-height: 100vh;
    }
}

// top bar
.modalBar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px 0 30px;
    background-color: var(--primary);
    z-index: 99;
    box-shadow: $shadow-layer1;
    .tit {
        margin-right: auto;
        padding: 0;
        font-weight: 500;
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
        color: $color-white;
        border-bottom: none;
    }
    .btnBack {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        color: $color-white;
        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 15px;
            margin: 0 19px;
            background-color: $border-neutral;
        }
    }
    .btnOptions {
        display: flex;
        align-items: center;
        gap: 5px;
        button {
            color: $color-white;
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 10px;
                background-color: $border-neutral;
            }
            &:first-child {
                &::before {
                    content: none;
                }
            }
        }
    }
    .btnStep {
        color: $color-white;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}
