@use '/src/styles/_variables.scss' as *;
@use '/src/styles/mixin.scss' as *;

.sectionBox {
    padding: 20px 24px;
    border-radius: $corner-sm;
    border: 1px solid $border-default;
    box-shadow: (1px 2px 4px $shadow-card);
    background-color: $background-white;
}
