@use '/src/styles/_variables.scss' as *;

.snackbar {
    width: 320px;
    height: 70px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: $corner-sm;
    border: 1px solid var(--primary);
    box-shadow: (1px 2px 4px $shadow-layer1);
    background-color: $background-white;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    .tit {
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: #000;
    }
    .msg {
        width: 260px;
        margin-top: 3px;
        position: relative;
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        color: $color-accent;
        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 0;
            right: -26px;
            background: url('../../../public/img/ico/ico_snackbar.png') 50% 50% no-repeat;
            background-size: 16px;
        }
    }
    &.on {
        opacity: 1;
    }
    &:hover {
        .msg {
            color: var(--primary);
        }
    }
    &.downRight {
        left: unset;
        right: 20px;
    }
    &.upLeft {
        bottom: unset;
        top: 20px;
    }
    &.upRight {
        bottom: unset;
        left: unset;
        right: 20px;
        top: 20px;
    }
}
