@use '/src/styles/_variables.scss' as *;

.toast {
    width: 320px;
    height: 56px;
    padding: 12px 20px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    border-radius: $corner-sm;
    border: 1px solid var(--primary);
    box-shadow: (1px 2px 4px $shadow-layer1);
    background-color: $background-white;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    .tit {
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: #000;
    }
    .msg {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        color: $color-accent;
    }
    &.on {
        opacity: 1;
    }
    &.error {
        border-color: $border-error;
        background-color: $background-error;
    }
    .icoToast {
        fill: var(--primary);
    }
}
