@use '/src/styles/_variables.scss' as *;

.tooltip {
}
.MuiTooltip-popper {
    .MuiTooltip-tooltip {
        padding-left: 1.875rem;
        font-size: var(--font-size-sm);
        color: $color-neutral;
        border: $corner-xxs;
        background: var(--bgTooltip);
    }
    .MuiTooltip-arrow {
        width: 0.9375rem;
        height: 0.625rem;
        color: var(--lower);
    }
}
