@use '/src/styles/_variables.scss' as *;

.loginBox {
    font-family: $font-family-body;
    margin-top: 30px;
    .typingArea {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }
    .btnLogin {
        width: 100%;
        height: 40px;
        color: $color-white;
        background-color: $background-brand;
    }
}
.simpleLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 26px 0 30px;
    font-family: $font-family-body;
}
.btnSimpleLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 38px;
    font-family: $font-family-body;
    font-size: 13px;
    line-height: 20px;
    color: #565656;
    border: 1px solid #301212;
    &:hover,
    &:active {
        border-color: $border-brand;
    }
}

.btnSubmitDemo {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 54px;
    padding: 4px;
    font-family: $font-family-body;
    font-size: 12px;
    line-height: 19px;
    color: #9e9e9e;
    &:hover,
    &:active {
        color: $color-accent;
        svg {
            fill: $icon-accent;
        }
    }
}

// 2단계 인증
.secondCert {
    display: flex;
    flex-direction: column;
    .label {
        width: 100%;
        margin-bottom: 4px;
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        color: $color-accent;
    }
    .typingArea {
        display: flex;
        border-bottom: 1px solid $border-bold;
        .btnSend {
            flex-shrink: 0;
            height: 30px;
            border-bottom: none;
            color: $color-accent;
        }
        .inputText input {
            border-bottom: none;
        }
    }
    &.mobileNo {
        margin: 30px 0 10px;
    }
    &.certNo {
        margin-top: 15px;
    }
    .btnLogin {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        color: $color-white;
        background-color: #13a9e9;
    }
}

// 로그인 기업 선택
.selectLoginCompany {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 170px;
    margin-bottom: 20px;
    overflow-y: auto;
    .btn {
        flex-shrink: 0;
    }
}
.btnCancel {
    width: 100%;
}
